@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  overflow-x: hidden;
  font-family: "Nunito Sans", "sans-serif";
}

#loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: black;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: fixed;
}

.mother-container {
  display: none;
}

.nav {
  width: 99vw;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  z-index: 50;
  border-radius: 25px;
  text-align: center;
  margin-left: 10px;
}

.nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 5px;
  font-weight: 700;
  font-size: 1.2em;
}

.nav ul #navtext-login {
  cursor: pointer;
}

.nav ul a {
  text-decoration: none;
  color: white;
}

.nav ul li {
  margin: 20px;
  margin-top: 5px;
  padding: 10px;
  font-size: 1.2em;
}

.nav ul li #modal_btn {
  color: white;
}

.nav ul li:hover {
  background-color: #575555;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .nav {
    width: 96vw;
    height: 60px;
  }
  .nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav ul li {
    margin: 2px;
    font-size: 0.8em;
    background-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .nav ul {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 1em;
  }
  .nav ul li {
    margin: 10px;
  }
}

.landing-cover {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 40;
  opacity: 0.35;
  background-color: black;
}

.landing {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.landing .image-text {
  position: absolute;
  font-weight: 900;
  top: 37%;
  left: 30%;
  width: 40vw;
  z-index: 40;
  height: auto;
  font-size: 3em;
  text-align: center;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  padding: 20px;
}

.landing .book-button {
  position: absolute;
  left: 35%;
  margin: 50px;
  text-align: center;
  height: 80px;
  width: 100px;
  text-transform: uppercase;
  border-radius: 15px;
  background: transparent;
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.landing .book-button p {
  font-size: 0.5em;
  font-weight: 1000;
  color: white;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.landing .book-button:hover {
  height: 100px;
  width: 150px;
}

.landing .book-button:hover p {
  margin-top: 10px;
  font-size: 0.6em;
}

.landing img {
  height: 100vh;
  width: 100vw;
}

@media (max-width: 600px) {
  .landing-cover {
    border-radius: 30px;
    height: 500px;
  }
  .landing {
    height: 500px;
  }
  .landing .image-text {
    top: 20%;
    left: 8%;
    margin: auto;
    width: 90vw;
    font-weight: 700;
  }
  .landing .image-text p {
    font-size: 0.7em;
  }
  .landing img {
    height: 500px;
  }
  .landing .book-button {
    margin: 20px;
    margin-left: 60px;
  }
  .landing .book-button p {
    font-size: 0.5em;
  }
}

@media (max-width: 768px) {
  .landing .image-text {
    font-size: 2em;
  }
  .landing .book-button {
    left: 20%;
    margin-top: 30px;
    height: 70px;
    width: 80px;
  }
  .landing .book-button p {
    margin-top: 10px;
  }
  .landing .book-button:hover {
    height: 80px;
    width: 100px;
  }
}

.login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.7s;
  transition: visibility 0s, opacity 0.7s;
}

.login-bg-active {
  visibility: visible;
  opacity: 1;
}

.login {
  background-color: white;
  height: 40%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  border-radius: 25px;
  border: 10px solid black;
}

.login .login-part {
  margin-top: 30px;
  display: none;
}

.login .login-part h3 {
  position: absolute;
  left: 45%;
  top: 10px;
  font-size: 2em;
}

.login .login-part #login_btn {
  margin-left: 200px;
  margin-bottom: 15px;
  font-size: 1.3em;
  text-transform: uppercase;
  width: 150px;
  height: 40px;
  background-color: black;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.login .register-part {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  display: none;
}

.login .register-part h3 {
  position: absolute;
  left: 45%;
  top: 10px;
  font-size: 2em;
}

.login .register-part #register-name {
  width: 90%;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 1.3em;
  border-radius: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
}

.login .register-part #register-email {
  width: 90%;
  margin-bottom: 10px;
  font-size: 1.3em;
  border-radius: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
}

.login .register-part #register-u_name {
  width: 90%;
  margin-bottom: 10px;
  font-size: 1.3em;
  border-radius: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
}

.login .register-part #register-pass {
  width: 90%;
  margin-bottom: 10px;
  font-size: 1.3em;
  border-radius: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
}

.login .register-part #register_btn {
  font-size: 1.3em;
  background-color: black;
  color: white;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.login #u_name {
  width: 90%;
  font-size: 1.3em;
  margin: 7px;
  margin-bottom: 30px;
  border-radius: 5px;
  margin-left: 20px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
}

.login #pass {
  width: 90%;
  font-size: 1.3em;
  margin: 7px;
  border-radius: 5px;
  margin-left: 20px;
  margin-bottom: 50px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 10px;
}

.login #modal-footer {
  font-size: 1.2em;
  margin-left: 130px;
}

.login #modal-footer a {
  list-style: none;
  text-decoration: none;
}

.login #modal-footer2 {
  font-size: 1.2em;
  margin-left: 30px;
  margin-top: 10px;
}

.login #modal-footer2 a {
  list-style: none;
  text-decoration: none;
}

.login #modal-close {
  position: absolute;
  top: 3px;
  right: 10px;
  font-size: 2em;
  cursor: pointer;
}

@media (max-width: 600px) {
  .login {
    margin: 0;
    width: 80%;
  }
  .login .login-part {
    width: 85%;
    margin-right: 20px;
  }
  .login .login-part h3 {
    display: none;
  }
  .login .login-part #login_btn {
    margin-left: 50px;
  }
  .login .login-part #modal-footer {
    margin-left: 0px;
  }
  .login #modal-close {
    top: 0;
  }
}

@media (max-width: 768px) {
  .login .login-part h3 {
    display: none;
  }
  .login .login-part #login_btn {
    margin-left: 90px;
    font-size: 1.1em;
    width: 100px;
  }
  .login .login-part #u_name {
    font-size: 1em;
    margin-top: 0px;
  }
  .login .login-part #pass {
    font-size: 1em;
    margin-top: 0px;
  }
  .login .login-part #modal-footer {
    font-size: 0.9em;
    margin-left: 10px;
  }
  .login .register-part h3 {
    display: none;
  }
  .login .register-part #register-name {
    font-size: 1em;
    margin-top: 30px;
  }
  .login .register-part #register-u_name {
    font-size: 1em;
  }
  .login .register-part #register-pass {
    font-size: 1em;
  }
  .login .register-part #register-email {
    font-size: 1em;
  }
  .login .register-part #register_btn {
    font-size: 1.1em;
    width: 100px;
  }
  .login .register-part #modal-footer2 {
    font-size: 0.9em;
    margin-left: 10px;
  }
  .login #modal-close {
    top: 0;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 400px;
  padding: 10px;
}

.about .A-text-one {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 5em;
  margin-right: 100px;
  padding: 20px;
}

.about .A-text-two {
  font-size: 1.3em;
  margin-left: 100px;
  margin: 10px;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: justify;
}

@media (max-width: 600px) {
  .about {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .about {
    display: block;
    text-align: center;
    margin-top: 0;
    margin-left: 0px;
    width: 100%;
  }
  .about .A-text-one {
    font-size: 3em;
    margin-right: 50px;
    padding: 5px;
  }
  .about .A-text-two {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    font-size: 1.1em;
    margin-top: 5px;
  }
}

#offers-head {
  margin-left: 45%;
  font-size: 5em;
  padding: 20px;
  margin-top: 50px;
}

.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers .offers-container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  margin-left: 15%;
}

.offers .offers-container2 .offers-side1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
}

.offers .offers-container2 .offers-side1 .room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers .offers-container2 .offers-side1 .room img {
  margin: 10px;
  padding: 5px;
  border-radius: 2rem;
  width: 300px;
  height: 190px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.offers .offers-container2 .offers-side1 .room .room-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 50px;
  width: 50px;
}

.offers .offers-container2 .offers-side1 .room .room-text a {
  text-decoration: none;
  list-style: none;
  font-size: 1.3em;
  text-transform: uppercase;
}

.offers .offers-container2 .offers-side1 .room .room-text a:hover {
  color: red;
}

.offers .offers-container2 .offers-side1 .room .room-text p {
  font-size: 1.1em;
  font-weight: bold;
}

.offers .offers-container2 .offers-side2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 10px;
}

.offers .offers-container2 .offers-side2 .room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers .offers-container2 .offers-side2 .room img {
  margin: 10px;
  padding: 5px;
  width: 300px;
  height: 190px;
  border-radius: 2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.offers .offers-container2 .offers-side2 .room .room-text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 50px;
}

.offers .offers-container2 .offers-side2 .room .room-text a {
  text-decoration: none;
  list-style: none;
  font-size: 1.3em;
  text-transform: uppercase;
}

.offers .offers-container2 .offers-side2 .room .room-text a:hover {
  color: red;
}

.offers .offers-container2 .offers-side2 .room .room-text p {
  font-size: 1.1em;
  font-weight: bold;
}

@media (max-width: 600px) {
  #offers-head {
    margin-left: 130px;
  }
  .offers {
    width: 100%;
  }
  .offers .offers-container2 {
    display: block;
    width: 100%;
    margin-left: 0;
  }
  .offers .offers-container2 .offers-side1 {
    margin-bottom: 0;
    display: block;
    width: 100%;
  }
  .offers .offers-container2 .offers-side1 .room {
    width: 95%;
    height: 250px;
    display: block;
  }
  .offers .offers-container2 .offers-side1 .room .offer-image {
    width: 100%;
    height: 200px;
    border-radius: 0px;
    margin-left: 10px;
  }
  .offers .offers-container2 .offers-side1 .room .room-text {
    display: none;
  }
  .offers .offers-container2 .offers-side2 {
    margin-top: 0;
    display: block;
    width: 100%;
  }
  .offers .offers-container2 .offers-side2 .room {
    display: block;
    width: 95%;
    height: 250px;
  }
  .offers .offers-container2 .offers-side2 .room .offer-image {
    width: 100%;
    height: 200px;
    border-radius: 0px;
    margin-left: 10px;
  }
  .offers .offers-container2 .offers-side2 .room .room-text {
    display: none;
  }
}

@media (max-width: 768px) {
  #offers-head {
    font-size: 2em;
    margin-bottom: 0;
    margin-top: 0;
  }
  .offers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .offers .offers-container2 {
    margin-left: 0;
    font-size: 0.6em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .offers .offers-container2 .offers-side1 .room .room-text {
    margin-top: 0;
  }
  .offers .offers-container2 .offers-side1 .room img {
    height: 80px;
    width: 150px;
    margin: 0;
  }
  .offers .offers-container2 .offers-side2 .room .room-text {
    margin-top: 0;
  }
  .offers .offers-container2 .offers-side2 .room img {
    height: 80px;
    width: 150px;
    margin: 0;
  }
}

.newsletter {
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
  position: relative;
}

.newsletter p {
  font-size: 1.5em;
  margin-bottom: 15px;
  margin-left: 30px;
}

.newsletter .email-box {
  font-size: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
  position: absolute;
  left: 45%;
}

.newsletter .email-box i {
  font-size: 1.5em;
}

.newsletter .email-box #subscribe {
  background-color: black;
  height: 30px;
  min-width: 150px;
  border-radius: 3px;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.newsletter .email-box input {
  height: 30px;
  border-radius: 3px;
  width: 0px;
  -webkit-transition: 0.9s ease-in-out;
  transition: 0.9s ease-in-out;
}

.newsletter .email-box:hover > input,
.newsletter input:focus {
  width: 500px;
}

@media (max-width: 768px) {
  .newsletter {
    font-size: 0.8em;
  }
  .newsletter p {
    margin-left: 10px;
  }
  .newsletter .email-box {
    width: 125px;
    font-size: 1em;
    left: 42%;
  }
  .newsletter .email-box i {
    font-size: 1.7em;
    margin-top: 2px;
  }
  .newsletter .email-box #subscribe {
    font-size: 1em;
    height: 20px;
    min-width: 80px;
  }
  .newsletter .email-box input {
    height: 20px;
  }
}

.foot {
  height: auto;
  margin-top: 30px;
  height: 325px;
  width: 100%;
  background-color: black;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 2rem;
}

.foot .foot-contact {
  padding: 10px;
}

.foot .foot-contact .foot-contact-heading {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 10px;
}

.foot .foot-contact .foot-contact-info {
  font-size: 1.2rem;
  padding-top: 10px;
  letter-spacing: .2rem;
}

.foot .foot-social-follow .foot-social-icon a {
  color: white;
  font-size: 2rem;
  margin: .4rem;
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */